body {
    padding: 0;
    margin: 0;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
  
a {
    color: #00B7FF;
}

.cat {
    width: 150px;
    height: 150px;
    object-fit: cover;
}